body{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#arene{
    display: grid;
    grid-template-columns: repeat(7,50px);
    grid-template-rows: repeat(7,50px);
    background-color: grey;
    gap: 2px;

}

#buttons{
    margin-top: 30px;

}

#actions{
    margin-top: 20px;
    
}