* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.arene-container {
  width: 90vw;
  height: 90vh;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}

.arene {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 5px;
  width: 100%;
  height: 100%;
  border: 3px solid #d2b48c; /* Beige doré */
  padding: 5px;
  background-color: #f0e5d8;
}

.case, .case-texturee {
  border: 1px solid #c2a67f; /* Fine bordure marron clair */
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.case-texturee .mini-pixel {
  width: 25%;
  height: 25%;
}
